{% include 'barra/head/head.html' %}
{% include 'barra/head/style.html' %}
<body>
    <div class="layout">
        {% include 'barra/bar_sp.html' %}
        <div class="conteudo-lateral">
            <form action="usuario" method="POST">
                {{e}}{% csrf_token %}<input type="usuario" name="usuario" placeholder="Usuario">
                <input type="password" name="senha" placeholder="Senha">
                <input type="password" name="csenha" placeholder="Confirmar Senha">
                <button class="btn" type="submit">Avançar</button>

            </form>
        </div>

    </div>

    </div>

</body>