{% include 'barra/head/head.html' %}
<body>
    <div class="conteudo">
        <div class="caixa">
            <span class="d09q089q8h2" style="margin-top: 20px;">
                <h3>Dados de Identificação</h3>
                <form action="ender" method="POST">
                    {% csrf_token %}
                    <input type="nome" name="nome" placeholder="Nome">
                    <input type="snome" name="snome" placeholder="Sobrenome">
                    <input type="tel" name="tel" placeholder="Whatsapp ou Telefone">
                    <input type="date" name="data" style="width: 430px;">
                    <input type="cpf" name="cpf" placeholder="CPF">
                    <input type="email" name="email" placeholder="EMAIL">
                    <button class="btn" type="submit">Avançar</button>
                </form>
                <div class="oiuhrfd10">
                    <a href="../" class="d9873eh9">Inicio Cardapio</a>
                </div>
        </div>
        </span>

    </div>
    <span></span>
    <span></span>

</body>