{% include 'barra/head/head.html' %}
{% include 'barra/head/style.html' %}
<body>
    <div class="layout">
        {% include 'barra/bar_sp.html' %}
        <div class="conteudo-produto">
            {% for j in produto %}
           
            <div class="produto-exibicao">
                <div class="lado-texto">
                    <h1>{{j.2}}</h1>
                    <h3>R$ {{j.3}}</h3>
                    <div class="lado-imagem">
                        <img src="../static/img/cardapio/{{j.1}}.png" alt="">
                    </div>
                    <p class="p3">
                        {% for k in j.5 %}
                        <a href=" /tabela_saude ">
                            <img src="../static/img/{{k}}.png ">
                        </a> {% endfor %}</p>
                    <p class="p4">
                        {%for f in j.6 %}
                        <a href="/tabela_eventos ">
                            <img src="../static/img/{{f}}.png ">
                        </a>{% endfor %}</p>
                    <p class="p3a">{{j.4}}</p>

                </div>
            </div>
            {% endfor %}
        </div>

        <script>
    
            function process(quant) {
                var value = parseInt(document.getElementById("quantidade").value);
                value += quant;
                if (value < 1) {
                    document.getElementById("quantidade").value = 1;
                } else {
                    document.getElementById("quantidade").value = value;
                }
            }
        </script>
</body>