{% include 'barra/head/head.html' %}
{% include 'barra/head/style.html' %}

<body>
    <div class="layout">
       
        <div class="conteudo-normal">
            <div class="painel-pedido">
                <table>
                    <thead>
                     
                        <tr>
                            <th class="CNPJ" colspan="16">CNPJ do emitente: 12.345.678/0044-90</th>
                            </tr>
                
                        <tr>
                            <th class="ENDERECO" colspan="16">Rua marcos de marcedo 9988 - Loja A</th>
                            </tr>
                            <tr>
                                <th class="ENDERECO" colspan="16">GUADALUPE - Rio de janeiro - RJ</th>
                                </tr>
                        <tr>
                            <tr>
                                <th class="ENDERECO" colspan="16">Telefone: 21 9 8765-3210</th>
                            </tr>
                            <tr>
                                <th class="DESCRICAO" colspan="16">Documento Auxiliar da Nota Fiscal de consumidor Eletrônica</th>
                            </tr>
                 
                        </tr>

            
                    </thead>
                    <tr>
                        <th colspan="8"></th>
                    </tr>
                    <tr>
                        <th colspan="8"></th>
                    </tr>
                    <tr>
                        <th colspan="8"></th>
                    </tr>
                    <tfoot>
                        <tr>
                            <td class="CNPJ" colspan="10">PEDIDO</td>
                            <td class="CNPJ" colspan="6">R$ {{vconsumo}}</td>
                        </tr>

                        <tr>
                            <td class="CNPJ" colspan="10">ENTREGA</td>
                            <td class="CNPJ" colspan="6">R$ {{vtaxa}}</td>
                        </tr>

                        <tr>
                            <td class="CNPJ" colspan="10">DESCONTO</td>
                            <td class="CNPJ" colspan="6">R$ {{vdesconto}}</td>
                        </tr>

                        <tr>
                            <td class="CNPJ" colspan="10"> TOTAL</td>
                            <td class="CNPJ" colspan="6">R$ {{vtotal}}</td>

                        </tr>

                        <tr>
                            <th colspan="8"></th>
                        </tr>
                        <tr>
                            <th colspan="8"></th>
                        </tr>
                        <tr>
                            <th colspan="8"></th>
                        </tr>

                        <tbody>

                            <tr>
                                
                                <td class="CNPJ" colspan="9">PRODUTO</td>
                                
                                <td class="CNPJ" colspan="2">QTD</td>
                                <td class="CNPJ" colspan="2">UND</td>
                                <td class="CNPJ" colspan="2">TOTAL</td>
                                
                            </tr>
                  
                            {% for i in comanda %}
                            <tr>
                                
                                
                                <td class="DESCRICAO2" colspan="1">{{i.0}}</td>
                                <td class="DESCRICAO2" colspan="8">
               
                                </td>
                                <td class="DESCRICAO2" colspan="2">{{i.1}}</td>
                                <td class="DESCRICAO2" colspan="2">R$ {{i.2}}</td>
                                <td class="DESCRICAO2" colspan="2">R$ {{i.3}}</td>
                                

                            </tr>


                            {% endfor %}
                      
                        </tr>
                        <tr>
                            <th colspan="8"></th>
                        </tr>
                        <tr>
                            <th colspan="8"></th>
                        </tr>
                     
                            <th colspan="8"></th>
                        </tr>
                        <tr>
                            <th class="titulo" colspan="16">{{titulo}}</th>
                            
                        </tr>
                        
                        <tr>
                            <th colspan="8"></th>
                        </tr>
                        <tr>
                            <th colspan="8"></th>
                        </tr>
                        <tr>
                            <th colspan="8"></th>
                        </tr>
                        <tr><th class="DESCRICAO2" colspan="16">PEDIDO: {{ idpedido }}</th>
                        </tr>
                        <tr>
                        <th class="DESCRICAO2" colspan="16">{{datahora}}</th>
                        
                    </tr>
                        
                        
                    </tr>
                            <tr>
                                <th class="DESCRICAO" colspan="16">Vendedor: {{vendedor}}</th>
                            </tr>
                            <tr>
                                <th class="DESCRICAO2" colspan="8">Consumidor: {{usuario}}</th>
                                <th class="DESCRICAO" colspan="4">cpf: 123.345.567.76</th>
                                <th class="DESCRICAO2" colspan="4">PROTOCOLO: 356KY</th>
                            
                        </tbody>
                        <td class="titulo" colspan="16">
                            <img src="{{qrcode_pix}}" alt="{{qrtitulo}}" width="315" height="315"></td>
                        <tr>
                            
                </table>
                <form>
                    <input type="button" value="Imprimir Conferencia" onClick="window.print()"/>
                </form>
                <a class="finalizar" href="#">Problemas com pagamento?</a>

            </div>

        </div>

    </div>

   
    {% include 'barra/head/script.html' %}

</body>