{% include 'barra/head/head.html' %}

<body>
    <div class="conteudo">
        <div class="caixa">
            <span class="d09q089q8h2" style="margin-top: 20px;">
                <h3>Usuario</h3>
                <form action="../usuario" method="POST">
                    {{e}}
                    {% csrf_token %}
                    <input type="usuario" name="usuario" placeholder="Usuario"></p>
                    <input type="password" name="senha" placeholder="Senha"></p>
                    <input type="password" name="csenha" placeholder="Confirmar Senha"></p>
                    <button class="btn" type="submit">Avançar</button>
                </form>
                <div class="oiuhrfd10">
                    <a href="../" class="d9873eh9">Inicio Cardapio</a>
                </div>
        </div>
        </span>

    </div>
    <span></span>
    <span></span>
    </div>
</body>