<head>
    <meta name="viewport" content="width=device-width, initial-scale={{initial_scale}}">
</head>
{% include 'barra/head/style.html' %}


<h1 class="sv-titulo">SERVIDOR</h1>

<body>
    <div class="topnav">
        <a href="vendas">Vendas</a>
        <a href="funcionario">funcionarios</a>
        <a href="config">configurações</a>
        <a href="pagamentos">pagamentos</a>
        <a href="">Relatórios</a>
        <a href="">Feedback</a>
        <a href="/">Ver Site</a>
        <a href="sairadm">sair</a>
    </div>
    <div class="conteiner">
        <form action="../modproduto" method="POST" class="formula-d">
            {% csrf_token %}
          <style>h1{margin: 15px 0px -20px 0px; border-radius: 5px; padding: 1px;}</style>
          <div class="produto-exibicao" style="display: inline-block; min-width: 377px; text-align: center;">
              <div class="lado-texto">
                  <h1>SERVIDOR</h1>
                  <h2>IP<br><input type="text" name="nomes" value="{{ipsocket}}" disabled size="20px" style="font-size: 50px;border-top-right-radius: 50px; text-transform: uppercase;"></h1>
                  <h2><label for="tipo"></label>
                  
                  
                    </textarea><button type="submit" class="st-sbmt" name="produtoid" value="{{j.0}}" >Salvar</button><button class="st-sbmt">cancelar</button></p>
          </div>
        </form>

      </div>
    </div>
    
</body>