{% include 'barra/head/head.html' %}
{% include 'barra/bar_sp_pura_adm.html' %}
<h1 class="mafbn7-3j23--djkj">SERVIDOR</h1>

<body>
    
    <div class="conteiner">
        <div class="jkdj8-3-di9jkj8d8jj334344">
            <h3>Operação</h3>
            <ul>
                <li>
                    <a href="produtos">Lista Produtos</a>
                </li>
                <li>
                    <a href="funcionario">Lista Funcionarios</a>
                </li>
                <li>
                    <a href="">Promoções</a>
                </li>
                <li>
                    <a href="">Tabela Nutricional</a>
                </li>
                <li>
                    <a href="">Tabela Alergênicos</a>
                </li>
            </ul>

        </div>

        <div class="jkdj8-3-di9jkj8d8jj334344">
            <h3>Financeiro</h3>
            <ul>
                <li>
                    <a href="">Folha de ponto</a>

                </li>
                <li>
                    <a href="">Escala de Serviço</a>

                </li>
                <li>
                    <a href="">Pagamento Pessoal</a>
                </li>
                <li>
                    <a href="">Despesas Programadas</a>
                </li>
                <li>
                    <a href="">Auxilio Transporte</a>
                </li>
            </ul>
        </div>

        <div class="jkdj8-3-di9jkj8d8jj334344">
            <h3>Visual Operacional</h3>
            <input type="radio" id="deliverymod" name="fav_language" value="deliverymod" disabled>
            <label for="deliverymod">Delivery</label><br>
            <input type="radio" id="restaurantemod" name="fav_language" value="restaurantemod">
            <label for="restaurantemod">Restaurante</label><br>
            <input type="radio" id="barmod" name="fav_language" value="barmod">
            <label for="barmod">Bar</label>
            <input type="radio" id="lanchonete" name="fav_language" value="lanchonete">
            <label for="lanchonete">Lanchonete</label>
            <input type="radio" id="pizzaria" name="fav_language" value="pizzaria">
            <label for="pizzaria">Pizzaria</label>
            <input type="radio" id="farmacia" name="fav_language" value="farmacia" disabled>
            <label for="farmacia">Farmacia</label>
            <input type="radio" id="mercearia" name="fav_language" value="mercearia" disabled>
            <label for="mercearia">Mercearia</label>
        </div>
        <div class="jkdj8-3-di9jkj8d8jj334344">
            <h3>links</h3>
            <ul>
                <li>
                    <a href="../">abrir caixa</a>

                </li>
                <li>
                    <a href="../">cadastrar cliente</a>
                </li>
                <li><a href="../">cadastrar entregador</a></li>
                <li><a href="../">cadastrar funcionario</a></li>
            </ul>

        </div>
    </div>
    <h3><label for="visual">Visual:</label>
        <select name="visual" id="visual">
            <option value="padrao">padrao</option>
            <option value="beta">beta</option>
            <option value="escuro">tema escuro</option>
            <option value="criar">criar tema</option>
        </select>
    </h3>

</body>