<div id="usuario-cct" class="usuario-dados" >

    <div class="nav-opt" >
        <nav class="barra-opt">
            <a href="../pedido"  class="barra-lnk">Pedido R$ {{valor_parcial.0}}</a>
            <a href="perfil" class="barra-lnk">Perfil</a>
            <a href="../" class="barra-lnk">Cardapio</a>
            <a href="../sair" class="barra-lnk">sair</a>
            <!--                  <a href="#" class="link-inicial">Cupons</a> -->
        </nav>
    </div>
</div>

<script>
    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("usuario-cct#");
    var sticky = header.offsetTop;


</script>