<div id="usuario-cct" class="usuario-dados" >

    <div class="nav-opt" >
        <nav class="barra-opt">
            <a class="barra-lnk" href="../entrar">Entrar</a>
            <a href="../" class="barra-lnk">Cardapio</a>
            <a href="#" class="barra-lnk">Cupons</a>
            <!--                  <a href="#" class="link-inicial">Cupons</a> -->
        </nav>
    </div>
    <form action="../add" method="POST" class="formula-d" style="padding: 17px;">
        {% csrf_token %}
        <input type="button" id="plus" value=' - ' onclick="process(-1)" disabled />
        <input id="quantidade" name="quantidade" class="text" size="1" type="text" value="1" maxlength="5" disabled />
        <input type="button" id="minus" value=' + ' onclick="process(1)" disabled>
        <button type="submit" class="st-sbmt" name="produtoid" value="{{j.0}}" disabled>Adicionar</button>
    </form>
</div>