{% include 'barra/outros/head_barra.html' %}
<div id="usuario-cct" class="usuario-dados" >
<div class="nav-opt">
    <nav class="barra-opt">
        <a href="./" class="barra-lnk">Relatórios</a>
        <a href="./vendas" class="barra-lnk">Vendas</a>
        <a href="./funcionario" class="barra-lnk">Colaboradores</a>
        <a href="./pagamentos" class="barra-lnk">Financeiro</a>
        <a href="/" class="barra-lnk">Ver Site</a>
        <a href="./config" class="barra-lnk">API</a>
        <a href="./sairadm" class="barra-lnk">sair</a>
    </nav>
</div>
</div>
